<p style="margin: 0 0 20px 0; font-size: 18px; font-weight: bold">
	Здравствуйте, <%= name %> <%= surname %>!
</p>
<p style="margin: 0 0 20px 0">
	Мы получили запрос на сброс пароля для вашей учетной записи. Нажмите на кнопку
	ниже, чтобы установить новый пароль.
</p>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="center">
			<a
				href="<%= link %>"
				target="_blank"
				style="
					background-color: #46b5e0;
					color: #ffffff;
					padding: 10px 25px;
					text-decoration: none;
					border-radius: 12px;
					font-weight: bold;
					display: inline-block;
					font-size: 16px;
					box-shadow: 0 4px 6px rgba(70, 181, 224, 0.3);
					cursor: pointer;
				"
			>
				Сбросить пароль
			</a>
		</td>
	</tr>
</table>

<p
	style="
		margin: 20px 0 0 0;
		font-size: 14px;
		color: #777777;
		text-align: center;
	"
>
	Если кнопка не работает, вы можете перейти по ссылке:
	<br />
	<a
		href="<%= link %>"
		target="_blank"
		style="color: #46b5e0; text-decoration: underline"
	>
		<%= link %>
	</a>
</p>

<p style="margin: 20px 0 0 0; font-size: 14px; color: #777777">
	Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо — ваш
	аккаунт остается в безопасности.
</p>

<p style="margin: 5px 0 0 0; font-size: 14px; color: #777777">
	Если у вас возникли вопросы, обратитесь в
	<a
		href="<%= techLink %>"
		target="_blank"
		style="color: #46b5e0; text-decoration: underline"
	>
		Техническую поддержку
	</a>
</p>
